.nav_cart {
    margin-right: 20px;
    cursor: pointer;
}

.nav_icon {
    height: 25px;
}

.nav_cart_amount {
    position: absolute;
    top: 18px;
    right: 32px;
    width: 15px;
    height: 15px;
    color: white;
    background-color: red;
    border-radius: 50%;

    font-size: 12px;
    display: flex;
    justify-content: center;
}